body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x; 
	background-color: #D00000;
}
section {
	background-color: white;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
} 
   	.topic {
		font-weight: bold;
		font-size: 30px;
		font-family: "Consolas", Consolas;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.image {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div {
		text-align: center;
	}	

footer {
	background-color: white;
	text-align: center;
}
#pages {
	padding-top: 30px;
	padding-bottom: 30px;
}
	#separator {
		width: 90%;
		background-color: darkorange;
		height: 2px;
	}
	.go-to {
		background-color: orange;
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 20px;
		border: 1px black solid; 
		margin-right: 3px;
		margin-left: 3px;

	}
	.go-to:hover {
		background-color: darkorange;
		cursor: pointer;
	}
hr {
	width: 70%;
}
.quote {
	font-style: italic;
	font-size: 25px;
}