body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x; 
	background-color: #D00000;
}
section {
	background-color: white;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
} 
   	.topic {
		font-weight: bold;
		font-size: 1.85em;
		font-family: "Consolas", Consolas;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}
	.image {
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}

	div {
		text-align: center;
	}	

footer {
	background-color: white;
	text-align: center;
}
#pages {
	padding-top: 3%;
	padding-bottom: 3%;
}
	#separator {
		max-width: 90%;
		background-color: darkorange;
		height: 2px;
	}
	.go-to {
		background-color: orange;
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 20px;
		border: 1px black solid; 
		margin-right: 0.5%;
		margin-left: 0.5%;

	}
	.go-to:hover {
		background-color: darkorange;
		cursor: pointer;
	}
	.on-page {
		background-color: red;
	}
	.on-page:hover {
		background-color: darkred;
		cursor: pointer;
	}
hr {
	width: 70%;
}
.quote {
	font-style: italic;
	font-size: 25px;
}
img {
	max-width: 100%;
}