body {
	background-image: url(bg.jpg);
	background-repeat: repeat-x; 
	background-color: #D00000;
}
section {
	background-color: white;
	border-top-left-radius: 50px; 
	border-bottom-right-radius: 50px;
	width: 70%;
	margin-left: auto;
    margin-right: auto;
} 
   	.topic {
		font-weight: bold;
		font-size: 30px;
		font-style: monospace;
		
	}
	.image {
		padding-top: 10px;
	}

div {
	text-align: center;
}
