body {
background-image:url("../images/bg.jpg");
background-repeat:repeat-x;
margin: 0px;
padding: 0px;
background-color: #D00000;  
max-width: 1000px;
margin: auto;

}


a {
color: #09f;
}
a:hover {
text-decoration: none;
}
#back_to_camera {
clear: both;
display: block;
height: 80px;
line-height: 40px;
padding: 20px;
}

.fluid_container {
margin: 0 auto;
max-width: 1000px;
width: 90%;
}

header{
width:100%;
height:350px;
margin:auto;
	}
.pic{
	width: 350px;
}

.logo {
	margin-top: 30px;
	background-image:url("../images/logo-head-up.png");
	width: 330px;
	height: 100px;
	margin: 30px ;
	margin-left: 50px;
}
.logo a img{
	border:0;
	}

.logo:hover{
	margin-top: 30px;
	background-image:url("../images/logo-head-doun.png");
	width: 330px;
	height: 100px;
	margin: 30px ;
	margin-left: 50px;
}

.top-header{
	margin-top: -160px;
	display:inline;
	margin-right: 0;
	float: right;
}
.navs{
display: none;
}


.bottom-header{
	margin-top: 25px;
	background-color: #fff;
	width: 100%;
	height: 60px;		
	-webkit-border-top-left-radius: 50px;
	        border-top-left-radius: 50px;
}

nav{
	margin: auto;
	margin-top: -170px;
	width: 100%;
	height: 80px;
	background-color: #fff;
}
.nav{
	float: left;

}
.nav ul{
	list-style-type: none;
	display: list-item;
	/*text-align: -webkit-match-parent;*/
	font-weight: bold;


}
.nav ul li{
	display:inline;
	margin: 5px;
	padding: 5px 7px 5px 7px;
	background: #FF7A04;
		-webkit-border-bottom-right-radius: 5px;
	        border-bottom-right-radius: 5px;
		-webkit-border-top-left-radius: 5px;
	        border-top-left-radius: 5px;
}
.nav ul li:hover{
	display:inline;
	margin: 5px;
	padding: 5px 7px 5px 7px;
	background: #D00000;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;

}

.nav ul li a{
	text-decoration: none;
	color: #000

}
.audio{
	float: right;
}

.audio p{
	margin-bottom: 1px;
}
.data{
	background-color: #FFF;
	width: 100%;
	margin: auto;
	margin-top: -60px;
	
}
.data p{
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Calibri", Calibri;
}
.data section{
	
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Calibri", Calibri;
}
h5 {
	color: darkorange;
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 50px;
	padding: 10px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: "Calibri", Calibri
}
#subline {
	color: darkorange;
	font-size: 1.2em;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 20px;
}
.section-bold {
	font-weight: bold;
	font-size: 1.1em;
}
.paragraph-breaker {
	width: 70%;
	height: 2px;
	border-radius: 10px;
	background-color: darkorange;
}


.footer_conteiner {
	margin: 0 auto;
	max-height: 100%;
	width: 90%;
}

.footer_divider {
	background: url("../images/footer/REDfooter_divider.png") repeat-x;
	height: 30px;
	margin-top: 0;
	display: block;

}
#contacts-divider { 
	margin-top: 2%;
}




.upper_footer {
	margin-top: 0px;
	display: block;
	width: 100%;
	height: 250px;
	background: #fff;
	margin: auto;
	border-bottom-right-radius: 50px;
	margin-bottom: 5px;
}

.conteiner_footer {
	margin-top: 35px;
	width: 96%;
	margin: 0 auto;
}
.conteiner_footer:after {
	clear: both;
	content: ' ';
	display: block;
		font-size: 0;
		height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}

.first_Col {
	width: 48%;
	float: left;
	margin: 0 20px 0 0;
}

.nameFirstCol {
	background: url("../images/footer/ORANGEfooter_small_img.png") no-repeat 0 4px;
	color: #FF7A04;
	font-size: 28px;
	text-shadow: 0 1px 0 #262626;
	font-weight: 400;
	text-indent: 30px;
}
.listWithStars ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}
.listWithStars li {
	list-style: none;
	margin: 0 0 2px 0;
	line-height: 22px;
	padding: 0 0 0 25px;
	font-family: Arial;
	font-size: 11px;
	color: #4d4d4d;
	background: url("../images/footer/REDfooter_star.png") no-repeat 0 3px;
}
.listWithStars li #click-jokes {
	text-decoration: none;
	font-size: 20px;
}

.listWithStars ul li:hover {
	background: red;
}

.sec_Col {
	margin: 0;
	width: 48%;
	float: left;
}

.padding40 {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	padding-top: 40px;
	font-size: 0;
	line-height: 0;
}

.padding20 {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	padding-top: 20px;
	font-size: 0;
	line-height: 0;
}
#brought-by {
	color: darkorange;
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
}
#logo-positioner {
	text-align: center;
}
#softuni-logo {
	background-color: #234462;
	display: inline-block;
	width: 80%;
	margin-top: 5%;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 1s;
}
#softuni-logo:hover{
	width: 100%;
}
#softuni-logo > a > img{
	width: 40%;
	height: 40%;
}
 
.contact{
	max-width: 85%;
	border: 1px solid;
	border-color: #f1f1f1;
	margin: auto;
	margin-top: 30px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	
}
.visual{
	display:inline-block;
	width: 250px;
	float: left;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	
}
.visual img{
	margin-top: 20px;
	margin-left: 20px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}
.icon{
	width: 220px;
}
.icon ul {
	margin-top: -10px;
	margin-left: -20px;
	list-style-type: none;
	}
.icon ul  li{
	float: left;
	
}


.softuni a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image:url("../images/contacts/icon/sprait.png") ;
	opacity: 0.5;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	}
.softuni a:hover{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image:url("../images/contacts/icon/sprait.png") ;
	opacity: 0.9;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}


.github a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:url("../images/contacts/icon/sprait.png")  no-repeat -50px 0px;
	opacity: 0.5;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.github a:hover{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:url("../images/contacts/icon/sprait.png")  no-repeat -50px 0px;
	opacity: 0.9;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.facebook a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:url("../images/contacts/icon/sprait.png")  no-repeat -100px 0px;
	opacity: 0.5;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.facebook a:hover{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:url("../images/contacts/icon/sprait.png")  no-repeat -100px 0px;
	opacity: 0.9;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.skype a{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:url("../images/contacts/icon/sprait.png")  no-repeat -150px 0px;
	opacity: 0.5;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.skype a:hover{
	display: inline-block;
	width: 50px;
	height: 50px;
	background:url("../images/contacts/icon/sprait.png")  no-repeat -150px 0px;
	opacity: 0.9;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.clearfix{
	clear: both;
}
.info{
	margin-left: 20px;
	display: inline-block;
	margin-top: 5px;
	width: 400px;
}
.info h3{
	font-family: verdana;
	font-size: 1.8em;
	font-weight:bold;
}

.name{
	font-family: verdana;
	font-size: 18px;
	font-weight:bold;
}
	
.data>img{
	width: 600px;
	margin: 20px;
}	


.bot_footer_conteiner {
	background: #fff;
	margin: auto;
	margin-top: -20px;
	
	width: 100%;
	height: 160px;
	border-bottom-right-radius:50px;
}
.menud{
	margin: auto;
	width: 64%;
}

.menud ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: 70px;
}

.menud ul li {
	float: left;
	display: inline-block;
	padding: 6px;
	list-style-type: none;
	color: #FF7A04;
	
}

.menud ul li:hover {
	background: #FF7A04;
	width: 120px;
}

.menud ul li a,visited {
	text-decoration: none;
	color: red;
	display: block;
	padding: 5px;
}

.menud ul li, a:hover {
	color: #FF7A04;
	text-decoration: none;
}

.menud ul li {
		-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	transition: all .4s ease;
}

.par {
margin-bottom: 30px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}

.par p{
	text-align:center;
}

/*This part is for news.html */
.wrapper{
background-color: #FFF;
width: 100%;
margin: auto;
margin-top: -60px;
margin-bottom: -30px;
}
.news_content{
margin-top: 60px;
padding-top: 30px;
padding-bottom:80px;
/*background-color: #eee;*/
}
.news_main_content{
position: relative;
box-shadow: 0 0px 15px #000;
margin-left:30px;
padding: 0 10px 0 10px;
display: inline-block;
width: 27%;
height: 350px;
background-color: #fff;
}
.news_main_content h3{
width: 260px;
}
.news_main_content h3 a{
/*margin-top: -40px;*/
position: absolute;
color: black;
overflow: hidden;
text-decoration: none;
}
.news_date{
padding-top:35px;
}
.news_image img{
width: 100%;
}

@media (min-width: 851px) and (max-width: 980px) {
	.wrapper {
		width: 100%
	}
	.news_main_content {
		width: 25%;
		vertical-align: top;
	}
}
@media (min-width: 769px) and (max-width: 850px) {
	.news_main_content {
		width: 20%;
		vertical-align: top;
	}
}
@media (max-width: 768px) {

	.news_main_content {
		width: 20%;
		vertical-align: top;
	}
}
/*About separate news*/


/*separate news to here*/

/*Style forr news.html to here*/


@media (max-width: 768px) {
.navs{
display: none;
}
.pic{
	width: 250px;
}
.logo img {
	width: 250px;
}
.logo {
	margin-top: 30px;
	background-image:url("../images/logo-head-up.png");
	 background-size: 250px 75px;
	background-repeat: no-repeat;
	margin: 30px ;
	margin-left: 50px;
}

.logo:hover{
	margin-top: 30px;
	background-image:url("../images/logo-head-doun.png");
	background-size: 250px 75px;
	background-repeat: no-repeat;
	margin: 30px ;
	margin-left: 50px;
}
}




@media (max-width: 640px) {
.navs{
display: none;
}
.pic{
	width: 200px;
}

.logo {
	width: 200px;
height: 60px;
	margin-top: 30px;
	background-image:url("../images/logo-head-up.png");
	background-size: 200px 60px;
	background-repeat: no-repeat;
	margin: 50px ;
	margin-left: 50px;
}

.logo:hover{
	width: 200px;
	height: 60px;
	margin-top: 30px;
	background-image:url("../images/logo-head-doun.png");
	background-size: 200px 60px;
	background-repeat: no-repeat;
	margin: 50px ;
	margin-left: 50px;
}
h5{
	font-size: 2.5em;
}
header{
	width:100%;
	height:200px;
	margin:auto;
}

.logo img {
	width: 200px;	
}

nav{
	margin: auto;
	margin-top: -70px;
	width: 100%;
	/*height: 80px;*/
	background-color: #fff;
}

.top-header{
	margin-top: -140px;
	display:inline;
	margin-right: 0;
	float: right;
}

.bottom-header{
	margin-top: -25px;
	background-color: #fff;
	width: 100%;
	height: 60px;
	border-top-left-radius:50px;
}
}



@media (max-width: 560px) {
.audio{
	float: left;
	margin-left: 50px;
	margin-top: -20px;
}
.navs{
	list-style-type: none;
	display: initial;
	margin-top: 10px;
	font-weight: bold;
}
/*.fluid_container{
	display: none;
}*/
.bot_footer_conteiner{
	display: none;
}
.navs {
	/*list-style-type: none;*/
	display: list-item;
	/*text-align: -webkit-match-parent;*/
	font-weight: bold;
}

.navs   {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	border:1px;
	border: solid;
	border-color: #C4C4C4;
	background-color: #fff;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

.navs li{
margin-left: -40px;
text-align: center;
padding: 5px;
}

.navs li:hover{
margin-left: -40px;
text-align: center;
padding: 5px;
background-color: #FF7A04;
color: #FFF;
}

.navs li a{
	color: #464646;
	text-decoration: none;
	font-size: 1.3em;
}

.pic{
	display: none;
}

.logo {
	width: 250px;
	height: 75px;
	margin-top: 30px;
	background-image:url("../images/logo-head-up.png");
	background-size: 250px 75px;
	background-repeat: no-repeat;
	margin: auto;
	margin-left: 50px;
}

.logo:hover{
	width: 250px;
	height: 75px;
	margin-top: 30px;
	background-image:url("../images/logo-head-doun.png");
	background-size: 250px 75px;
	background-repeat: no-repeat;
	margin: auto ;
	margin-left: 50px;
}

header{
	width:100%;
	height:200px;
	margin:auto;
}

.logo img {
	width: 250px;	
}

h5{
	font-size: 2em;
	margin-left: 70px;
}

.top-header{
	margin-top: -80px;
	padding-right: 20px;
	display:inline;
	margin-right: 0;
	float: right;
}

.bottom-header{
	margin-top: 10px;
	background-color: #fff;
	width: 100%;
	height: 60px;
	border-top-left-radius:50px;
}
nav{
	margin: auto;
	margin-top: -70px;
	width: 100%;
	height: 5px;
	background-color: #fff;
}
.nav{
	display: none;
}
.upper_footer{
	display: none;
}


/* Contacts start */

.contactsConteiner {
	margin: 0 auto;
	max-height: 100%;
	width: 90%;
	padding: 30px;
}

.table {
	width: 300px;
	height: 120px;
	margin: 0;
	padding: 0;
	background: url("../images/ContactsIMG/nikiIMG.jpg") no-repeat;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 2px solid red;

}

.table table {
	padding-left: 100px;
}

.table td, tr {
	padding: 20px;
	background: red;
	width: 300px;
}

.visual{
	display: block;
	width: 250px;
	margin: auto;
	padding: 0;
	padding-bottom: 10px;
	float: none;
}

.info h3{
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 1.4em;
	font-weight:bold;
	text-align: center;
}

.info p{
	font-family: verdana;
	font-size: 1.0em;
	font-weight:bold;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.name{
	font-family: verdana;
	font-size: 16px;
	font-weight:bold;
	text-align: center;
	padding-bottom: 20px;
}

.data>img{
	width: 400px;
	margin: 20px;
}

.info{
	margin-left: 0;
	display: inline-block;
	margin-top: 5px;
	width: 400px;
}
}
/* Contacts end */
